{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ board.name }}{% endblock title %}

{% block content %}

<header class="bg-success py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="my-3 text-start text-white">
                    <h1 class="display-5 fw-bolder">{{ board.name }}</h1>
                    <p class="lead">{{ board.description }}</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-3">
                <a class="btn btn-lg btn-success mb-5" href="{% url 'new_topic' board.pk %}">New Topic</a>
                <a class="btn btn-light mb-5" href="{% url 'forum' %}">Back to Forum</a>
                {% for topic in topics %}
                {% url 'topic' board.pk topic.pk as topic_url %}
                    <div class="card p-3 mb-3 bg-light">
                        <div class="row align-items-center">
                            <div class="col-md-8 mb-3 mb-sm-0">
                                <h5> <a href="{{ topic_url }}">{{ topic.title }}</a> </h5>
                                <p> Thread started by <a href="{{ topic.author.get_absolute_url }}">{{ topic.author.username }}</a> {{ topic.created|naturaltime }} </p>
                                {% if topic.get_page_count > 0 %}
                                <div>
                                    Pages:
                                    {% for i in topic.get_page_range %}
                                    <a class="me-2" href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
                                    {% endfor %}
                                    {% if topic.has_many_pages %}
                                    ... <a class="me-2" href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <div class="row text-center">
                                    <div class="col-3 px-1">
                                        <i class="fa-regular fa-comments"></i>
                                        <span class="d-block ">{{ topic.replies.count }} Repl{{ topic.replies.count|pluralize:"y,ies" }}</span>
                                    </div>
                                    <div class="col-3 px-1">
                                        <i class="fa-regular fa-eye"></i>
                                        <span class="d-block ">{{ topic.views }} View{{ topic.views|pluralize }}</span>
                                    </div>
                                    <div class="col-6 px-1">
                                        <i class="fa-regular fa-clock"></i>
                                        <span class="d-block ">{{ topic.updated|naturaltime }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %} 
                <p>No topic yet.</p>
                {% endfor %}
                {% include 'partials/_pagination.html' with page_obj=topics %}
            </div>
            <!-- Sidebar content -->
            <div class="col-lg-3 mb-4">
                <div class="mb-3">
                    <h4 class="py-4"> Popular Topics </h4>
                    {% if popular_topics %}
                    {% for topic in popular_topics %}
                    <div class="pb-3 mb-3 border-bottom">
                        <h6> <a href="{% url 'topic' board.pk topic.pk %}">{{ topic.title }}</a> </h6>
                        <small>Created by <a href="{{ topic.author.get_absolute_url }}">{{ topic.author.username }}</a> | {{ topic.created|naturaltime }}</small>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No topic yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}