{% extends "base.html" %}
{% block title %}Community{% endblock title %}

{% block content %}

<header class="bg-success py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="my-3 text-center">
                    <h1 class="display-5 fw-bolder text-white">UNN Alumni Communities</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <h1>WORK IN PROGRESS...</h1>
        </div>
    </div>
</section>
{% endblock content %}