{% extends 'base.html' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}

<header class="bg-success py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="my-3 text-start text-white">
                    <h1 class="display-5 fw-bolder">{{ topic.title }}</h1>
                    <ul class="mt-4 list-inline">
                        <li class="list-inline-item"><a href="{% url 'forum' %}" class="text-white">Forum</a> &rarr; </li>
                        <li class="list-inline-item"><a href="{% url 'board' topic.board.slug %}" class="text-white">{{ topic.board.name }}</a> &rarr; </li>
                        <li class="list-inline-item">{{ topic.title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-2 border-success">
                    <div class="card-header text-white bg-success py-2 px-3">{{ topic.title }}</div>
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-1">
                                <img src="{{ topic.author.profile.passport.url }}" width="200px" height="200px"
                                    alt="{{ topic.author.username }}" class="img-fluid mb-2">
                                <small class="d-block text-center">Replies: {{ topic.author.replies.count }}</small>
                            </div>
                            <div class="col-11">
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="fw-bold">Topic started by: <a href="{{ topic.author.get_absolute_url }}" class="text-success">{{ topic.author.username|title }}</a></div>
                                    <small class="text-muted">{{ topic.created }}</small>
                                </div>
                                {{ topic.body }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <a href="{% url 'reply_topic' topic.board.pk topic.pk %}" class="btn btn-success" role="button">Reply this topic</a>
                </div>
                
                {% for reply in replies %}
                <div id="{{ reply.pk }}" class="card mb-2 border-success">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-1">
                                <img src="{{ reply.created_by.profile.passport.url }}" width="200px" height="200px" alt="{{ reply.created_by.username }}" class="img-fluid mb-2">
                                <small class="d-block text-center">Replies: {{ reply.created_by.replies.count }}</small>
                            </div>
                            <div class="col-11">
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="fw-bold"><a href="{{ reply.created_by.get_absolute_url }}" class="text-success text-decoration-none">{{ reply.created_by.username|title }}</a></div>
                                    <small class="text-muted">{{ reply.created }}</small>
                                </div>
                                {{ reply.body }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>


{% include 'partials/_pagination.html' with page_obj=replies %}


{% endblock %}